

.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;

}

.header-left {
    display: flex;
}

.navigation {
    display: flex;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 70px;
    margin-top: 40px;
    margin-left: 40px;
}

#Logo {
    margin-left: 10px;
    width: 120px;
    height: 100px;
}

.header-Right {
    display: flex;
    justify-items: flex-end;
    margin-right: 30px;
    gap:40px;

}

.language {
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.LanguageLogo {
    width: 25px;
    height: 15px;
    margin-top: 45px;

}

.icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.rectangle {     
    height: 2px;      
    background-color: #e3e7ea; 
}

#landingPhoto {
    width: 100%;
    margin-top: 15px;
}

.Chomnis{
    margin-top: 200px;
    margin-right: 90px;
    margin-left: 90px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    gap: 100px;
}

.first{
    font-size: 70px;
    font-weight: bold;
}

.third {
    font-size: 35px;
    color: rgb(91, 85, 85);
    display: block;       
    margin-top: 20px;    
}

#wordsuggestion {
    font-size: 50px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}

.Suggestion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 40px;  
    margin-top: 20px;
}

.suggestion1 , .suggestion2 , .suggestion3{

    background-color: rgba(227, 216, 216, 0.46) ;
    border-color: gray;
    border-radius: 30px;

}

.row { 
    display: block; 
    margin-top: 8px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.service, .location, .openHour { 
    font-weight: bold; 
    
}

.info-garage {
    margin-left: 15px;
}
.name-garage {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-left: 15px;
}
.book-now {
    padding: 10px 30px 10px 30px;
    font-size: 35px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(29, 144, 162, 1);
    border: 2px solid rgb(230, 223, 223);   
    background-color: white; 
    border-radius: 50px;     
    display: inline-block;
    cursor: pointer; 
    margin: 25px 0px 30px 500px;
    
    
}


