
.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;

}

.header-left {
    display: flex;
}

.navigation {
    display: flex;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 70px;
    margin-top: 40px;
    margin-left: 40px;
}

#Logo {
    margin-left: 10px;
    width: 120px;
    height: 100px;
}

.header-Right {
    display: flex;
    justify-items: flex-end;
    margin-right: 30px;
    gap:40px;

}

.language {
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.LanguageLogo {
    width: 25px;
    height: 15px;
    margin-top: 45px;

}

.icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.rectangle {     
    height: 2px;      
    background-color: #e3e7ea;
    width: 100%; 
}

#landingPhoto {
    width: 100%;
    margin-top: 15px;
}

.Chomnis{
    margin-top: 200px;
    margin-right: 90px;
    margin-left: 90px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    gap: 100px;
}

.Suggestion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 40px;  
    margin-top: 15px;
    margin-left: 25px;
    grid-auto-rows: 1fr;

}

.suggestion1 , .suggestion2 , .suggestion3 {
    background-color: rgba(227, 216, 216, 0.46) ;
    border-color: gray;
    border-radius: 30px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestion1 img,
.suggestion2 img,
.suggestion3 img {
    width: 100%;
    height: 400px;     
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}

.row { 
    display: block; 
    margin-top: 8px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.service, .location, .openHour { 
    font-weight: bold; 
    
}

.info-garage {
    margin-left: 15px;
    flex-grow: 1;
}

.name-garage ,h1 {
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-left: 15px;
}

.book-now {
    padding: 10px 30px 10px 30px;
    font-size: 35px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(29, 144, 162, 1);
    border: 2px solid rgb(230, 223, 223);   
    background-color: white; 
    border-radius: 50px;     
    display: inline-block;
    cursor: pointer; 
    align-self: flex-end;  
    margin: 20px 20px  20px 0; 
    transition: 0.3s ease;
}

.book-now:hover {
    background-color: rgba(105, 210, 228, 0.6);
    color: rgb(17, 124, 140);
    border-color: rgb(195, 191, 191);
    transform: scale(1.1);
}

.LocationInput {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin-left: 10px;
    border-radius: 5px;
    border: rgb(57, 49, 49);

}

.LocationInput > i {
    position: absolute;
    padding: 10px;
    right: 100px;
    
}

.LocationInput > input {
    font-size: 30px;
    width: 96%;
    height: 48px;
 
}

#recommended {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px ;
    font-weight: bold;
    margin-left: 10px;
}


/* footer */
footer {
    margin-top: 180px;
    background-color: rgba(81, 184, 203, 0.6);
    width: 100%;
    height: 750px;
 
      
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo-footer {
    width: 500px;
    height: auto;
    margin-left: 80px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}

.footer-contents {
    font-size: 45px;
    font-weight: bold;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.quick-links,
.footer-service,
.visions {
    margin-top: 10px;
}

.quick-links-contents {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    cursor: pointer;
    
}


.service-contents {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.visions {
    display: flex;
    flex-direction: column;
}

#vision-text {
    width: 600px;
    font-size: 30px;
    line-height: 1.5;
    word-spacing: 7px;  
}

.social-platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#contactUs-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-right: 20px;
}


.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

#home , #Garage, #EmergencyService ,#Messages, #AboutUs {
    cursor: pointer;
}

#Home:hover , #Garage:hover, #EmergencyService:hover ,#Messages:hover, #AboutUs:hover{
    text-decoration: underline;
}