

.header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;

}

.header-left {
    display: flex;
}

.navigation {
    display: flex;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 70px;
    margin-top: 40px;
    margin-left: 40px;
}

#Logo {
    margin-left: 10px;
    width: 120px;
    height: 100px;
}

.header-Right {
    display: flex;
    justify-items: flex-end;
    margin-right: 30px;
    gap:40px;

}

.language {
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.LanguageLogo {
    width: 25px;
    height: 15px;
    margin-top: 45px;

}

.icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.rectangle {     
    height: 2px;      
    background-color: #e3e7ea;
    width: 100%; 
}

#landingPhoto {
    width: 100%;
    margin-top: 15px;
}

.Chomnis{
    margin-top: 200px;
    margin-right: 90px;
    margin-left: 90px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    gap: 100px;
}

.emergency {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.modeActivated-box {
    padding: 24px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #d32f2f;
    background: #fff6f6;
    border-radius: 30px;    
    border-color: rgb(201, 20, 20);
    margin: 25px 20px 0px 20px ;
    
}

.modeActivated i,
.modeActivated p {
  display: inline-block;
  
}

.modeActivated i {
  color: #d32f2f;
  font-size: 45px;
  margin-right: 8px;
}
.modeActivated p {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
}
.modeActivated span {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  color: #000;
}

.modeActivated-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    font-size:35px;
    margin-top: 30px;
    margin-right: 40px;

}

.modeActivated-button > a {
    border: 2px solid rgb(97, 95, 95);
    padding: 0px 10px 5px 10px ;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 450;
    transition: 0.3s ease;
}

#cancel {
    background-color: hwb(0 90% 8%);
}
#cancel:hover {
    background-color: rgb(186, 183, 183);
    transform: scale(1.1);
}
#continuous {
    background-color: rgb(214, 3, 3);
}
#continuous:hover {
    background-color: rgb(192, 5, 5);
    transform: scale(1.1);
}
.emergency-outBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 8px;
    
}

#call-now {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(206, 52, 52);
    text-decoration: underline;
}


/* footer */
footer {
    margin-top: 650px;
    background-color: rgba(81, 184, 203, 0.6);
    width: 100%;
    height: 750px;
 
      
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo-footer {
    width: 500px;
    height: auto;
    margin-left: 80px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}

.footer-contents {
    font-size: 45px;
    font-weight: bold;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.quick-links,
.footer-service,
.visions {
    margin-top: 10px;
}

.quick-links-contents {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    cursor: pointer;
    
}


.service-contents {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.visions {
    display: flex;
    flex-direction: column;
}

#vision-text {
    width: 600px;
    font-size: 30px;
    line-height: 1.5;
    word-spacing: 7px;  
}

.social-platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#contactUs-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-right: 20px;
}


.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

#home , #Garage, #EmergencyService ,#Messages, #AboutUs {
    cursor: pointer;
}

#Home:hover , #Garage:hover, #EmergencyService:hover ,#Messages:hover, #AboutUs:hover{
    text-decoration: underline;
}
