.header   {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;

}

.header-left {
    display: flex;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation {
    display: flex;
    font-size: 30px;
    gap: 70px;
    margin-top: 40px;
    margin-left: 40px;
 
}
.navigation > a {
    text-decoration: none;
    color: black;
}

#Messages{
    text-decoration: underline;
}

#Logo {
    margin-left: 10px;
    width: 120px;
    height: 100px;
}

.header-Right {
    display: flex;
    justify-items: flex-end;
    margin-right: 30px;
    gap:40px;

}

.language {
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.LanguageLogo {
    width: 25px;
    height: 15px;
    margin-top: 45px;

}
.language > p {
    margin-top: 30px;
}
.icons {
    font-size: 30px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.rectangle {     
    height: 2px;      
    background-color: #e3e7ea;
    width: 100%; 
}

#message{
    display: flex;
    justify-content: center;
    font-size: 25px; 
    margin-top: 30px;
    margin-bottom: 350px;
}


/* footer */
footer {
    margin-top: 180px;
    background-color: rgba(81, 184, 203, 0.6);
    width: 100%;
    height: 750px;
 
      
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo-footer {
    width: 500px;
    height: auto;
    margin-left: 80px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}

.footer-contents {
    font-size: 45px;
    font-weight: bold;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.quick-links,
.footer-service,
.visions {
    margin-top: 10px;
}

.quick-links-contents {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    cursor: pointer;
    
}


.service-contents {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.visions {
    display: flex;
    flex-direction: column;
}

#vision-text {
    width: 600px;
    font-size: 30px;
    line-height: 1.5;
    word-spacing: 7px;  
}

.social-platforms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#contactUs-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-right: 20px;
}


.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

#home , #Garage, #EmergencyService ,#Messages, #AboutUs {
    cursor: pointer;
}

#Home:hover , #Garage:hover, #EmergencyService:hover ,#Messages:hover, #AboutUs:hover{
    text-decoration: underline;
}
